<h1>Listing items</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>SR No.</th>
      <th>Category Name</th>
      <th>Name</th>
      <!-- <th>Veg</th> -->
      <th>Action</th>
    </tr>
  </thead>

  <tbody>
    <% @items.each_with_index do |item,index| %>
      <tr>
        <td><%= index + 1 %></td>
        <td><%= item.category.name %></td>
        <td><%= item.name %></td>
        <!-- <td><%#= item.veg  ? 'Yes' : 'No'  %></td> -->
        <td><%#= link_to 'Show', [:admin, item] %>
        <%= link_to 'Edit', edit_admin_item_path(item) %>
        <%= link_to 'Destroy', [:admin, item], method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Item', new_admin_item_path %>
