<%= form_with(model: testing, local: true, remote: true) do |form| %>
  <% if testing.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(testing.errors.count, "error") %> prohibited this testing from being saved:</h2>

      <ul>
      <% testing.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="actions">
    <%#= form.submit %>
  </div>
<% end %>

    <button type="buttom" onclick="return testing()">Ok</button>