<div class="page-header">
  <h1>Listing orders</h1>
</div>

<table class="table table-striped">
  <thead>
    <tr>
      <th>User</th>
      <th>Order status</th>
      <th>Expected delivery at</th>
      <th>Cancelled at</th>
      <th>Cart</th>
      <th>Delivery fee</th>
      <th>Sub total</th>
      <th>Discount total</th>
      <th>Grand total</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @orders.each do |order| %>
      <tr>
        <td><%= order.user %></td>
        <td><%= order.order_status %></td>
        <td><%= order.expected_delivery_at %></td>
        <td><%= order.cancelled_at %></td>
        <td><%= order.cart %></td>
        <td><%= order.delivery_fee %></td>
        <td><%= order.sub_total %></td>
        <td><%= order.discount_total %></td>
        <td><%= order.grand_total %></td>
        <td><%= link_to 'Show', [:admin, order], class: 'btn btn-default btn-xs' %></td>
        <td><%= link_to 'Edit', edit_admin_order_path(order), class: 'btn btn-default btn-xs' %></td>
        <td><%= link_to 'Destroy', [:admin, order], method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-xs btn-danger' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Order', new_admin_order_path, class: 'btn btn-primary' %>
