<div class="page-header">
  <h1>Listing orders</h1>
</div>

<table class="table table-striped">
  <thead>
    <tr>
      <th>User</th>
      <th>Order status</th>
      <th>Created at</th>
      <th>Cancelled at</th>
      <th>Delivery fee</th>
      <th>Sub total</th>
      <th>Discount total</th>
      <th>Grand total</th>
      <th>Action</th>
    </tr>
  </thead>

  <tbody>
    <%# rate = get_rate("INR","GBP") %>
    <% rate = 1 %>
    <% @orders.each do |order| %>
      <tr>
        <td><%= order.user.try(:email).present? ? order.user.try(:email) : "Guest User" %></td>
        <td><%= order.order_status.status %></td>
        <td><%= order.created_at.in_time_zone("New Delhi") %></td>
        <td><%= order.cancelled_at %></td>
        <% cache do %>
        <td><%= number_to_currency(order.delivery_fee*rate, :unit => "£")  %></td>
        <td><%= number_to_currency(order.sub_total*rate, :unit => "£") %></td>
        <td><%= number_to_currency(order.discount_total*rate, :unit => "£") %></td>
        <td><%= number_to_currency(order.grand_total*rate, :unit => "£") %></td>
        <%end%>
        <td><%= link_to 'Destroy', [:admin, order], method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-xs btn-danger' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%#= link_to 'New Order', new_admin_order_path, class: 'btn btn-primary' %>
