<h1>Listing deal_items</h1>

<table>
  <thead>
    <tr>
      <th>Deal</th>
      <th>Item</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @deal_items.each do |deal_item| %>
      <tr>
        <td><%= deal_item.deal %></td>
        <td><%= deal_item.item %></td>
        <td><%= link_to 'Show', [:admin, deal_item] %></td>
        <td><%= link_to 'Edit', edit_admin_deal_item_path(deal_item) %></td>
        <td><%= link_to 'Destroy', [:admin, deal_item], method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Deal item', new_admin_deal_item_path %>
