<p id="notice"><%= notice %></p>

<p>
  <strong>Deal:</strong>
  <%= @deal_item.deal %>
</p>

<p>
  <strong>Item:</strong>
  <%= @deal_item.item %>
</p>

<%= link_to 'Edit', edit_admin_deal_item_path(@deal_item) %> |
<%= link_to 'Back', admin_deal_items_path %>
