<style type="text/css">
   .plus-minus-input {
  align-items: center;
   }
  .input-group-field {
    text-align: center;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    padding: 1rem;
    &::-webkit-inner-spin-button,
    ::-webkit-outer-spin-button
      appearance: none;
    }
  

  .input-group-button,
    .circle {
      border-radius: 50%;
      padding: 0.25em 0.8em;
    }
    .w-auto
    {
      width: auto;
      float: left;
    }
    .no-padding
    {
      padding: 0px;
    }
input.input-group-field {
    width: 40px;
    text-align: center;
    height: 30px;
    padding: 0px !important;
}
.promotion-border {
    cursor: pointer;
    position: relative;
    background: #f4f4f4;
    border: 1px solid #cecece;
    border-radius: 5px;
    width: calc(100% - 30px);
    height: 43px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    margin: 10px auto 10px auto;
    padding: 0 10px;
}
.promotion-border i.fa-angle-right {
    text-align: right;
    float: right;
    width: 70%;
    font-size: 20px;
}
.coupons-txt
{
  width: 100%;
}
</style>
<script type="text/javascript">
   jQuery(document).ready(function(){
    // This button will increment the value
    $('[data-quantity="plus"]').click(function(e){
        // Stop acting like a button
        // e.preventDefault();
        // Get the field name
        fieldName = $(this).attr('data-field');
        // Get its current value
        var currentVal = parseInt($($(this).parent().parent().find("input")[0]).val());
        // If is not undefined
        if (!isNaN(currentVal)) {
            // Increment
            $($(this).parent().parent().find("input")[0]).val(currentVal + 1);
            // $('input[name='+fieldName+']').val(currentVal + 1);
        } else {
            // Otherwise put a 0 there
            $($(this).parent().parent().find("input")[0]).val(1);
            // $('input[name='+fieldName+']').val(0);
        }
        currentVal = parseInt($($(this).parent().parent().find("input")[0]).val());
        var cart_item_id = $(this).attr('cart-item-id');
        $.ajax({
          url: "/home/update_quantity",
          method: "PUT",
          data: {id: cart_item_id,quantity: currentVal}
       });
    });
    // This button will decrement the value till 0
    $('[data-quantity="minus"]').click(function(e) {
        // Stop acting like a button
        e.preventDefault();
        // Get the field name
        fieldName = $(this).attr('data-field');
        // Get its current value
        var currentVal = parseInt($($(this).parent().parent().find("input")[0]).val());
        // If it isn't undefined or its greater than 0
        if (!isNaN(currentVal) && currentVal > 1) {
            // Decrement one
             $($(this).parent().parent().find("input")[0]).val(currentVal - 1);
        } else {
            // Otherwise put a 0 there
             $($(this).parent().parent().find("input")[0]).val(1);
        }
         currentVal = parseInt($($(this).parent().parent().find("input")[0]).val());
        var cart_item_id = $(this).attr('cart-item-id');
        $.ajax({
          url: "/home/update_quantity",
          method: "PUT",
          data: {id: cart_item_id,quantity: currentVal}
       });
    });
});


</script>
`
<%= render "layouts/partials/coupon"%>
    <div class="panel-heading">
      <div class="panel-title">
         <div class="row">
            <div class="col-xs-6">
               <h5><span class="glyphicon glyphicon-shopping-cart"></span> Your Cart</h5>
            </div>
         </div>
      </div>
   </div>
<div class="panel panel-info">
   <div class="panel-body">
      <% @cart.cart_items.each do |cart_item|%>
      <div class="row">
         <div class="col-xs-4"><img class="img-responsive" src="<%= cart_item.item.picture.try(:image).present? ? cart_item.item.picture.image.url(:thumb) : '/assets/pizza1' %>">
         <!-- <div class="col-xs-6"><img class="img-responsive" src="http://placehold.it/100x70"> -->
         </div>
         <div class="col-xs-8">
            <div class="col-xs-8" style="padding: 0px;">
               Quantity
               <!-- Change the `data-field` of buttons and `name` of input field's for multiple plus minus buttons-->
               <div class="input-group plus-minus-input" style="width: 100%; display: inline-block;">
                 <div class="input-group-button w-auto no-padding">
                   <button type="button" class="button hollow circle" data-quantity="minus" data-field="quantity" cart-item-id = "<%= cart_item.id %>">
                     <i class="fa fa-minus" aria-hidden="true"></i>
                   </button>
                 </div>
                 <input class="input-group-field" type="number" name="quantity" value="<%= cart_item.quantity%>" style="float: left;">
                 <div class="input-group-button w-auto no-padding">
                   <button type="button" class="button hollow circle" data-quantity="plus" data-field="quantity" cart-item-id = "<%= cart_item.id %>">
                     <i class="fa fa-plus" aria-hidden="true"></i>
                   </button>
                 </div>
               </div>

               <!-- <input type="number" class="form-control" value="1" style="width: 78px;"> -->
            </div>
             <div class="col-xs-4 text-right " style="padding:0px;">
               <h6><strong><%=number_to_currency(cart_item.sub_total, unit: "£", separator: ",", delimiter: "") %><span class="text-muted"></span></strong></h6>
            </div>
            <div class="col-xs-4 pull-right" style="text-align: right; padding: 0px;">
               <button type="button" class="btn btn-link btn-xs">
               <span class="glyphicon glyphicon-trash delete_btn" cart-item-id = "<%= cart_item.id %>"> </span>
               </button>
            </div>
         </div>
          <div class="col-xs-12">
            <h4 class="product-name"><strong><%= cart_item.item.name %></strong></h4>
            <!-- <h4><small>Product description</small></h4> -->
         </div>
      </div>
      <!-- <hr> -->
      <% end %>
      <div class="promotion-border">
                  <ion-icon class="coupons_icon icon icon-md" role="img"></ion-icon>
                <span class="coupons-txt apply_coupon" data-toggle="modal" data-target="#myModal">Apply Coupon</span>

                <!-- <i class="fa fa-arrow-right"></i> -->
                <!-- <i class="fa fa-angle-right"></i> -->
                <i class="fa fa-angle-right"></i>
                <!-- <ion-icon float-end="" name="arrow-r" role="img" class="icon icon-md ion-md-arrow-r" aria-label="arrow r"></ion-icon> -->
               
                  
          </div>
             <div class="row">
         <div class="text-center">
            <div class="col-xs-12">
               <h6 class="text-left" id="coupon_success" style="color: green;"></h6>
            </div>
         </div>
      </div>
   </div>
   <div class="panel-footer">
      <div class="row text-center">
         <div class="col-xs-12">
            <h4 class="text-right">Sub Total <strong><%= number_to_currency(@cart.total, unit: "£", separator: ",", delimiter: "")%> </strong></h4>
         </div>
         <div id="render_final_cost">
            <%= render "layouts/partials/final_cost"%>
         </div>
         <div class="col-xs-12">
            <button type="button" class="btn btn-success btn-block" onclick="location.href='/home/checkout';">
            Checkout
            </button>
         </div>
      </div>
   </div>
</div>