<%= form_for([:admin, @deal]) do |f| %>
  <% if @deal.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@deal.errors.count, "error") %> prohibited this deal from being saved:</h2>

      <ul>
      <% @deal.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
      <%= f.label :price_id %><br>
    <%= f.text_field :price_id %>
    </div>
  <div class="field">
      <%= f.label :name %><br>
    <%= f.text_field :name %>
    </div>
  <div class="field">
      <%= f.label :image %><br>
    <%= f.file_field :image %>
    </div>
  <div class="field">
      <%= f.label :initial_time %><br>
    <%= f.datetime_select :initial_time %>
    </div>
  <div class="field">
      <%= f.label :end_time %><br>
    <%= f.datetime_select :end_time %>
    </div>
  <div class="field">
      <%= f.label :description %><br>
    <%= f.text_field :description %>
    </div>
  <div class="field">
      <%= f.label :amount %><br>
    <%= f.text_field :amount %>
    </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
