<p id="notice"><%= notice %></p>

<p>
  <strong>Price:</strong>
  <%= @deal.price %>
</p>

<p>
  <strong>Name:</strong>
  <%= @deal.name %>
</p>

<p>
  <strong>Image:</strong>
  <%= @deal.image %>
</p>

<p>
  <strong>Initial time:</strong>
  <%= @deal.initial_time %>
</p>

<p>
  <strong>End time:</strong>
  <%= @deal.end_time %>
</p>

<p>
  <strong>Description:</strong>
  <%= @deal.description %>
</p>

<p>
  <strong>Amount:</strong>
  <%= @deal.amount %>
</p>

<%= link_to 'Edit', edit_admin_deal_path(@deal) %> |
<%= link_to 'Back', admin_deals_path %>
