<!DOCTYPE html>
<html>

  <head>
    <title>OnlineShopping</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
     <!-- <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBm04toRwq35jVVERME6ojby3JmRaHk4Ko&v=3&libraries=places&callback=initAutocomplete" async defer></script> -->
     <!-- <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCKQX3cyZ7pVKmBwE8wiowivW9qH62AVk8&libraries=places&callback=initAutocomplete" async defer></script> -->
    <!-- <script src="https://www.paypalobjects.com/api/checkout.js"></script> -->
    <%#= javascript_pack_tag 'application' %>
  </head>

  <body>
    <div class="parent-loader">
    </div>
      <% if user_signed_in? %>
      <%= render 'layouts/partials/header' if current_user.admin?%>
       <%= link_to('Logout', destroy_user_session_path, method: :delete) unless  current_user.admin? %>  
      <%else%>
      <%= link_to('Login', new_user_session_path)  %>  
      <%end%>
      <%= render 'layouts/partials/notice_and_alerts'%>
      <div class="fluid-container col-md-12" style="top: -64px;" >
        <% unless params[:controller] == "home"%>
          <a href="/" class="btn btn-primary">Home</a>
       <%end%>
    <%= yield %>
    </div>
  </body>
</html>

<style type="text/css">
:root {
  --back-color: skyblue;
}
  body{
    background-color: var(--back-color); 
  }
</style>
<script type="text/javascript">
  $(window).load(function(){
    $('.parent-loader').removeClass('loading');
  });
  $(window).ready(function(){
    $('.parent-loader').addClass('loading');
  });

</script>
<!-- <script type="text/javascript">
  $(document).ready(function (){
  Command: toastr["success"]("Have fun storming the castle!")
  toastr.options = {
  "closeButton": false,
  "debug": false,
  newestOnTop: false,
  progressBar: true,
  timeOut: 5000,
  "extendedTimeOut": "1000"
}
  })
</script> -->